<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width: 200px;
            height: 200px;
            background-color: red;
            border: 10px solid yellow;
            padding-top: 50px;
            padding-left: 20px;
            padding-right: 20px;
            padding-bottom: 50px;
            padding: 50px;
        }
        .inner{
            width: 100%;
            height: 100%;
            background-color: pink;
        }
    </style>
</head>
<body>
    <div class="box1">
        <div class="inner"></div>
    </div>
</body>
</html>