<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width: 100px;
            /* font-size: 30px; */
            background-color: yellow;
        }

        .box2{
            width: 100px;
            background-color: red;
        }

        span{
            background-color: pink;
        }
    </style>

</head>
<body>
    <div class="box1">我是div1</div>
    <div class="box2">我是div2</div>

    <span class="span1">我是span1</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
    <span class="span2">我是span2</span>
</body>
</html>