<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <!-- <link rel="stylesheet" href="./CSS/reset.css"> -->
    <link rel="stylesheet" href="./CSS/normalize.css">
    <style>
        /* p::before{
            content: "";
            display: block;
            width: 100px;
            height: 100px;
            background-color: red;
        } */
        /* *{
            margin: 0;
            padding: 0;
        } */
        .box1{
            width: 200px;
            height: 200px;
            border: 1px solid red;
        }
    </style>
</head>
<body>
    <div class="box1"></div>
    <p>我是一个段落</p>
    <p>我是一个段落</p>
    <p>我是一个段落</p>

    <ul>
        <li>1</li>
        <li>2</li>
        <li>3</li>
    </ul>
</body>
</html>