<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        .box1{
            width: 200px;
            height: 200px;
            /* background-color: red; */
            border-width: 10px;
            border-color: red;
            border-style: solid;
        }
    </style>

</head>
<body>
    <!-- 
        -css将页面中的所有元素都设置为一个矩形的盒子
        -将元素设置围殴矩形的盒子后，对页面的布局就编程将不同的盒子摆放到不同的位置
        
     -->
    <div class="box1"></div>
</body>
</html>